extends public/header

block content
  .header.bar-nav
    div
      .row.color_292980
        .col-5
        .col-80
          .searchbar
            a.searchbar-cancel.button.button-fill.button-success.search_button 搜寻
            div.search-input
              label.icon.icon-search(for="search")
              input.header_search_input(type="search",id='search',name="username",placeholder='输入关键字...')
        .col-15
          span.icon.icon-message.header_message_icon.open-panel(data-panel='#panel-right')
            p 1
      .row.header_nav.buttons-tab
        a.button.active(href="#tab1")
          img(src='icon/home.png')
        a.button(href="#tab2")
          img(src='icon/news_gray.png')
        a.button(href="#tab3")
          img(src='icon/love_gray.png')
        a.button(href="#tab4")
          img(src='icon/tool_gray.png')
  .page-group
    .page.content.page-current.infinite-scroll(data-distance="50",id='tab1')
      .card.talkabout_boxCard
        .card-content.open-popup(data-popup=".append_commit")
          .talkabout
            i.icon.icon-edit
            font &nbsp;&nbsp;来分享你的运动成果吧
      each status in friends.statuslist
        each concems in friends.concems
          if status.username==concems.username
            .card.facebook-card.tab1_card
              .card-header.no-border
                .facebook-avatar
                  img.userheader(src=concems.headerpic width="34" height="34")
                  input.concems_username(type='hidden' value=concems.username)
                .facebook-name #{concems.nicename}
                .facebook-date #{status.content.createTime}
              -var length=status.content.pic.length;
              .card-content(class='card_img_'+length)
                if(status.content.text)
                  p &nbsp;&nbsp;#{status.content.text}
                each pic in status.content.pic
                  .imgbox
                    img.mystatus_picture(src=pic width="100%" height='auto')
              .card-footer.no-border
                a.status_zan.link(href="#") 赞(#{status.content.zan.length})
                a.status_comment(href="#",data-popup=".append_talks") 评论(#{status.content.comment.length})
                input(type='hidden' value=status.content.statusID)
      //.infinite-scroll-preloader
        //.preloader
    .page.infinite-scroll.content(data-distance="50",id="tab2")
      include ./pages/tab2.pug
    .page(id="tab3")
      include ./pages/tab3.pug
    .page(id="tab4")
      include ./pages/tab4.pug
    .page(id="searchpage")
      include ./pages/searchpage.pug
    .page.page_fixed(id='Mydetail')
      include ./pages/Mydetail.pug
    .page.page_fixed(id='Myactive')
      include ./pages/Myactive.pug
    .page.page_fixed(id='Mypicture')
      include ./pages/Mypicture.pug
    .page.page_fixed(id='Myfriend')
      include ./pages/Myfriend.pug
  .popup.append_talks
    span.icon.icon-down.popup_down.close-popup
    .card.facebook-card.comment_card_main
      .card-header.no-border
        .facebook-avatar
          img.userheader(src='' width="34" height="34")
          input(type='hidden' value='')
        .facebook-name
        .facebook-date
    .swiper-container(data-space-between='10')
      .swiper-wrapper
    .list
  .append_commit_botton
    .commit_box
      font.append_or_close ＋
      input(type='text')
      font.text_submit 发送 
  .popup.append_commit
    header.bar.bar-nav
      h1.title 分享你的运动状态
      button.button.pull-left.close-popup 取消
      button.button.pull-right#filesubmit 发表
    .content
      form#formFile(name='formFile',method="post",action="/user/talkabout",target='frameFile',enctype="multipart/form-data")
        textarea.talkabout_textarea(placeholder='今天又运动了',name='mystatus')
        #localImag.row
          .col-33.imgBOX
            label(for='inputMypic')
              span.icon.icon-picture
            input(type='file', multiple='mutiple',id='inputMypic',style="display:none",name='inputMypic')
      iframe#frameFile(name='frameFile',style='display: none')
    script(src='js/talkabout.js')
  .popup.userdetail
    img.userheaderpic(src=user.headerpic)
    .list-block
      ul
        li
          .item-content
            .item-media
              span.icon.icon-me
            .item-inner
              .item-title.label 昵称
              .item-input
                font.nicename #{user.nicename}
        li
          .item-content
            .item-media
              span.icon.icon-card
            .item-inner
              .item-title.label 用户名
              .item-input
                font.username #{user.username}
        li
          .item-content
            .item-media
              span.icon.icon-share
            .item-inner
              .item-title.label 性别
              .item-input
                font.sexy 男生
        li
          .item-content
            .item-media
              span.icon.icon-gift
            .item-inner
              .item-title.label 生日
              .item-input
                font.brithday #{user.brithday}
        li
          .item-content
            .item-media
              span.icon.icon-phone
            .item-inner
              .item-title.label 电话
              .item-input
                font.phonenum #{user.phonenum}
        li
          .item-content
            .item-media
              span.icon.icon-edit
            .item-inner
              .item-title.label 签名
              .item-input
                font.sign #{user.sign}
      .content-block
        .row
          .col-50
            a(href="#" class="button button-big button-fill button-success append_concems") 关注TA
          .col-50
            a(href="#" class="button button-big button-fill button-danger userdetail_back") 返回
  .panel-overlay
  .panel.panel-right.panel-cover.theme-dark(id='panel-right')
    .content-block
      p 这是一个侧栏
      p 你可以在这里放用户消息页面
      p
        a.close-panel(href="#") 关闭
    .list-block
      .card
        .card-header 新的消息
        .card-content
          .list-block.media-list
            ul
              li.item-content
                .item-media
                  img(src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44")
                .item-inner
                  .item-title-now
                    .item-title 回复：好哦好哦
                  .item-subtitle 来自:今天一起去玩吧
        .card-footer
          span 2016.4.16
          span 来自：张三
  script(src='js/tab.js')