header.bar.bar-nav
	h1.title 我的好友
	a(href="JavaScript:history.go(-1)")
		button.button.pull-left 返回
	//button.button.pull-right 整理
.content
	.buttons-tab
		a.tab-link.active.button(href="#myconcems") 我的关注
		a.tab-link.button(href="#myfans") 关注我的
	.content-block
		.tabs
			#myconcems.tab.active
				.content-block
					.bar.bar-header-secondary
						.searchbar
							a.searchbar-cancel 搜索
							.search-input
								label.icon.icon-search(for="search")
								input(type="search",id='search',placeholder='输入关键字...')
					.list-block
						ul
							for concem in friends.concems
								li.item-content
									.item-media
										img.userheader(src=concem.headerpic width="34" height="34")
										input(type='hidden' value=concem.username)
									.item-inner
										.item-title #{concem.nicename}
										.item-after
											span.icon.icon-right.userheader
											input(type='hidden' value=concem.username)
			#myfans.tab
				.content-block
					.bar.bar-header-secondary
						.searchbar
							a.searchbar-cancel 取消
							.search-input
								label.icon.icon-search(for="search")
								input(type="search",id='search',placeholder='输入关键字...')
					.list-block
						ul
							for fan in friends.fans
								li.item-content
									.item-media
										img.userheader(src=fan.headerpic width="34" height="34")
										input(type='hidden' value=fan.username)
									.item-inner
										.item-title #{fan.nicename}
										.item-after
											span.icon.icon-right.userheader
											input(type='hidden' value=fan.username)